:root {
    --main: #ec368d;
    --main-dark: #263d42;
}

body {
    font-family: "Liberation Serif", "Times New Roman", serif;
    color: var(--main-dark);
}

a {
    color: var(--main);
    font-weight: bold;
    padding: 0.2em;
}

.container {
    width: 60vw;
    margin: 0 auto;
}

.container p {
    padding: 0.2em;
}

.container h3 {
    padding: 0.2em;
    margin: 0;
}

.card {
    border-bottom: 1px solid gainsboro;
    padding: 0.7rem;
    background: white;
    width: calc(60vw - 1.4rem);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    margin: 0 auto;
}

nav h1 {
    margin: 0;
    transition: 0.1s;
    display: inline;
}

nav h1 a {
    color: var(--main-dark);
    text-decoration: none;
}

nav #nav-socials {
    display: flex;
}

nav #nav-socials a {
    align-self: flex-end;
}

a:hover, a:focus {
    text-decoration: none;
    color: #830c45;
    background: #ffefd3;
}

.project h3 {
    display: inline-block;
    margin-left: 0.2em;
    padding: 0;
}

.project a h3 {
    margin-left: 0;
}

.post {
    display: flex;
    justify-content: space-between;
}

.post h3 {
    display: inline;
}

#post-title,
#toc,
article section {
    width: 70%;
    margin: 0 auto;
}

p {
    line-height: 1.4rem;
    margin-bottom: 1rem;
    word-spacing: 0.13rem;
}

.footnotes p {
    margin: 0;
}

pre {
    padding: 1rem;
}

footer {
    text-align: center;
    width: 100%;
    padding: 0.7rem;
}

div.hiring {
    border: 3px dashed var(--main);

    text-align: center;

    width: 50%;
    padding: 1em;
    margin: 0 auto;

}

@media screen and (max-width: 700px) {
    nav,
    article section,
    .container,
    .card {
        width: auto;
    }

    nav {
        flex-direction: column;
    }
}
