{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ range .Paginator.Pages }}
    <!-- single page card -->
    {{ end }}
</div>

{{ end }}


{{ define "side" }}
{{ partial "side.taxonomy.html" . }}
{{ end }}
