{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section class="container">
  <h2>Articles</h2>
  {{ range .Paginator.Pages }}
  <div class="card post">
          <a href="{{ .Permalink }}">
              <h3>{{ .Title }}</h3>
          </a>
      {{ .Date.Format "Jan 2, 2006" }}
  </div>
  {{ end }}
</section>

<section class="container">
    <h2>My links:</h2>
    <div class="container">
        {{ range $.Site.Data.projects.list }}
        <div class="card project">
            {{ if .url }}<a href="{{ .url }}">
                <h3>{{ .name }}</h3>
            </a>
            {{ else }}
            <h3>{{ .name }}</h3>
            {{ end }}
            <p>{{ .desc }}</p>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}
